<div style="padding-top: 1rem"> </div>


<body>


<form style="width: 75%; margin: 16px auto; text-align: center;      display:block; " >
  <div id="Submission" align="center">
    <ul class="form-style-1" style="padding: 0 2em 0 2em;font-weight: bold;
    display:inline;
    font-size: 44px;
    text-shadow: 1px 1px 1px #fff;">

      Administrator Panel

    </ul>
  </div>
</form>

<form style="text-align: center;float:left;     display:block; " >
<div style="text-align:center">
    <ul  class="form-style-1" style="padding: 0 2em 0 2em ;font-weight: bold;
    display:inline-block;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;">



      <li> <p> Username: {{ LoginService.getCurrentUserShortened()}} </p> </li>
      <li> <p> Email: {{ LoginService.getCurrentUser()}}  </p> </li>
      <li> <p> {{ ( LoginService.user | async)?.uid }} </p> </li>
    </ul>
</div>

</form>
<form style="text-align: center;     display:block; " >
  <ul  class="form-style-1" style="padding: 0 2em 0 2em ;font-weight: bold;">
  <div style= "text-align:center">
    <li>
      <button  (click)="btnClick3()" > View Users </button>
    </li>

    <li>
      <button  (click)="btnClick1()" > Edit Home Page Events </button>
    </li>

    <li>
      <button (click)="btnClick2()"> Add Additional Admin </button>
    </li>
  </div>
  </ul>
</form>

</body>
