<body>


<form _ngcontent-c8="" novalidate="" style="width: 60em; margin:auto;text-align: center;      display:inline; " class="ng-untouched ng-pristine ng-valid">
  <div _ngcontent-c8="" id="Submission" align="center">
    <ul _ngcontent-c8="" class="form-style-1" style="padding: 0;font-weight: bold;
    display:inline-block
    ;
    font-size: 24px;
    text-shadow: 1px 1px 1px #fff;">

      <li>
        <button  (click)="btnClick3()" > View Users </button>
      </li>

      <li>
      <button  (click)="btnClick1()" > Edit Home Page Events </button>
      </li>

      <li>
      <button (click)="btnClick2()"> Add Additional Admin </button>
      </li>
    </ul>
  </div>
</form>
</body>
