
<div style="margin-top:1rem"></div>


<body>


<div style="display:table"> </div>
<form style="width: 75%; margin: 16px auto;text-align: center;      display:block; " >
  <div id="Submission" align="center">
    <ul class="form-style-1" style="padding: 0;font-weight: bold;
    display:inline;
    font-size: 44px;
    text-shadow: 1px 1px 1px #fff;">

      Contact Information

    </ul>
  </div>
</form>

<div style="margin-top:4em"></div>
<div style="text-align: center">
      <div class =column-left>
        <form style="width: 16em;" >
          <ul class="form-style-1" >


            <p>
              <b>Address </b>

              <br>


              EGF Rod & Gun Club
              <br>
              12923 480th Ave NW
              <br>
              East Grand Forks, MN 56721
              <br>
              <br>
              Latitude 48° 3'48.22"N
              <br>
              Longitude 97° 5'9.27"W
              <br>
              <br>

              Mailing:
              <br>
              P.O. Box 87
              <br>
              East Grand Forks, MN 56721
              <br><br>




              Phone:
              <br>
              <b>701-732-0486</b>
            </p>

          </ul>
        </form>

          <form style ="height: 4em; width: 16em; text-align: center;margin-top: 1em">
            <ul class="form-style-1" style=" padding: 0px 12px 10px 2px;">
              <p>7 Days a week<br>7:00am - 10:00pm
              </p>
            </ul>
          </form>


      </div>

      <div class =column-center>
        <form>
        <sebm-google-map [latitude]="lat" [longitude]="lng">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
        </form>

        <form style="margin: 6em auto;text-align: center;display:block " >
          <div id="Submission" align="center">
            <ul class="form-style-1" style="margin: 0 auto;text-align: center">



              <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" />&nbsp;<input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
              <li>
                <label>Email <span class="required">*</span></label>
                <input type="email" name="field3" class="field-long" />
              </li>
              <li>
                <label>Subject</label>
                <select name="field4" class="field-select">
                  <option value="Advertise">Advertise</option>
                  <option value="Partnership">Partnership</option>
                  <option value="General Question">General</option>
                </select>
              </li>
              <li>
                <label>Your Message <span class="required" style="height:300px;" >*</span></label>
                <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
              </li>
              <li>
                <input type="submit" value="Submit" />
              </li>
            </ul>

          </div>
        </form>

      </div>

      <div class =column-right>

        <form style="margin: 0em auto;text-align: center;display:block;width:16em " >
          <ul class="form-style-1" style="margin: 0 auto;text-align: center">
          <h3>Placeholder</h3>
            <p>Placeholder</p>
          </ul>
        </form>

      </div>
</div>


<div class="AllContent">











</div>

</body>
