<body>

<div style="padding-top: 1rem"> </div>



  <div id="TitlePage" align="center">
    <form>
      <ul class="form-style-1" style="padding: 0;margin:0 auto; font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 1px #fff;">

        News & Events


      </ul>

    </form>
  </div >




  <form>
    <div class="post-container">

      <div class="post-thumb-left" style="margin: 5px 5px;" ><img src="https://static.wixstatic.com/media/d770aa_aa3e5c18c2de446d99cd18ada3f3f2f2.jpg/v1/fill/w_196,h_138,al_c,q_80,usm_0.66_1.00_0.01/d770aa_aa3e5c18c2de446d99cd18ada3f3f2f2.jpg" /></div>
      <div class="post-content">
        <ul class="form-style-1" style="padding: 0;text-align: left; font-weight: bold;    font-size: 14px;
    text-shadow: 1px 1px 1px #fff;">


      <h3 class="post-title">International Defensive Pistol Association - IDPA</h3>

    <p>
      2nd Saturday of every month <br>
      Match fees are $20.00 for all events of the day.

      Check calendar to confirm! Most events will run past noon, so please plan accordingly.<br>
      <b> For lunch menu, please check specific dates on calendar. </b>

    </p>


  </ul>

    </div>
  </div>
  </form>



  <form>
  <div class="post-container">

    <div class="post-thumb-right" style="margin: 5px 5px;"><img src="https://static.wixstatic.com/media/d770aa_aa3e5c18c2de446d99cd18ada3f3f2f2.jpg/v1/fill/w_196,h_138,al_c,q_80,usm_0.66_1.00_0.01/d770aa_aa3e5c18c2de446d99cd18ada3f3f2f2.jpg" /></div>
    <div class="post-content">

        <ul class="form-style-1" style="text-align: left; font-weight: bold;    font-size: 14px;
    text-shadow: 1px 1px 1px #fff;">

      <h3 class="post-title">What you need to compete:</h3>

    <p>Any stock service pistol or revolver

      Eye and Ear protection

      Barrel 5 inches or shorter

      .38 Special, 9 mm, or larger caliber

      Belt holster (Basic simple holster for CCW)

      3 speed loaders or 3 spare magazines

      About 100 rounds of ammunition per match

      IDPA Membership information (IDPA.com website)

      IDPA Equipment Guidelines and Rules</p>
    </ul>
  </div>
  </div>
  </form>


  <form>
  <div class="post-container">
    <div class="post-thumb-left" style="margin: 5px 5px;" ><img src="https://static.wixstatic.com/media/d770aa_035fbf1cba544df68191eb5b5ed2c746.jpg/v1/fill/w_196,h_138,al_c,q_80,usm_0.66_1.00_0.01/d770aa_035fbf1cba544df68191eb5b5ed2c746.jpg" /></div>
    <div class="post-content">

      <ul class="form-style-1" style="text-align: right; font-weight: bold;    font-size: 14px;
    text-shadow: 1px 1px 1px #fff;">

      <h3 class="post-title">Want to become a Member to IDPA?</h3>

    <p>
      The International Defensive Pistol Association (IDPA) is the governing body of a shooting sport that simulates self-defense scenarios and real life encounters. It was founded in 1996 as a response to the desires of shooters worldwide. The organization now boasts membership of more than 20,000, including members in 50 foreign countries.

      One of the unique facets of this sport is that it is geared toward the new or average shooter, yet is fun, challenging and rewarding for the experienced shooter. The founders developed the sport so that practical gear and practical guns may be used competitively. An interested person can spend a minimal amount on equipment and still be competitive.

      The main goal is to test the skill and ability of the individual, not equipment or gamesmanship. “Competition only” equipment is not permitted in this sport.
    </p>



  </ul>
  </div>
  </div>
</form>























