



<body>


<div style="padding-top: 1rem; display:table"> </div>


<div class="AllContent">


  <div id="TitlePage" align="center">
    <form>
      <ul class="form-style-1" style="padding: 0;margin:0 auto; font;font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 1px #fff;">

       Contact Information


      </ul>

    </form>
  </div >


  <div id="map" style="margin:0 auto;width:auto;display:inline-block">

    <form style="width: 16em;" >
      <ul class="form-style-1" >


        <p>
          <b>Address </b>

          <br>


          EGF Rod & Gun Club
          <br>
          12923 480th Ave NW
          <br>
          East Grand Forks, MN 56721
          <br>
          <br>
          Latitude 48° 3'48.22"N
          <br>
          Longitude 97° 5'9.27"W
          <br>
          <br>

          Mailing:
          <br>
          P.O. Box 87
          <br>
          East Grand Forks, MN 56721
          <br><br>




          Phone:
          <br>
          <b>701-732-0486</b>
        </p>

      </ul>
    </form>

    <form style="margin: 20px 151px;text-align: center;">

      <sebm-google-map [latitude]="lat" [longitude]="lng">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
      </sebm-google-map>
    </form>

  </div>



<div id="time" style="margin: 9px 0px" >
  <form style ="height: 4em; width: 16em; text-align: center;">
    <ul class="form-style-1" style=" padding: 0px 12px 10px 2px;">
    <p>7 Days a week<br>7:00am - 10:00pm
    </p>
    </ul>
  </form>
</div>


  <form style="margin: 9px auto;text-align: center;display:block " >
    <div id="Submission" align="center">
    <ul class="form-style-1" style="margin: 0 auto;text-align: center">



      <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" />&nbsp;<input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
      <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="field3" class="field-long" />
      </li>
      <li>
        <label>Subject</label>
        <select name="field4" class="field-select">
          <option value="Advertise">Advertise</option>
          <option value="Partnership">Partnership</option>
          <option value="General Question">General</option>
        </select>
      </li>
      <li>
        <label>Your Message <span class="required" style="height:300px;" >*</span></label>
        <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
      </li>
      <li>
        <input type="submit" value="Submit" />
      </li>
    </ul>

    </div>
    </form>




<div id="Statement">
  <form style="width: 70em; height: 8em;margin: auto;text-align: center;display:block;">
    <ul class="form-style-1" style="display:inline;">
      <p >
        "The purpose of the East Grand Forks Rod & Gun Club shall be to promote an interest in sound conservation practices, to support improvement in game and fish habitat.  It is also our objective to promote sage handling, improved marksmanship, proper care and use of firearms.  Further, it is also our objective to encourage the development of the characteristics of honesty, good fellowship, responsible self-discipline, team play and self-reliance.  These ideals are the essentials of good sportsmanship and the foundation of patriotism."
      </p>
    </ul>

  </form>
</div>


</div>

</body>
