<div style="padding-top:2em"> </div>


  <div class="container">

    <div  class="row">


      <div class="col-xs-12">

        <body>

        <form  style="width: auto; height: auto;margin:auto;text-align: center;display:block;" >
          <ul  class="form-style-1" style="display:inline;">
            <div  id="row">
              <div>


                <div  class="col-xs-4">
                  Lets talk Fishing
                  <li > <a href="http://www.dnr.state.mn.us/fishing/fin/fishingreport.html"> Minnesota DNR</a></li>
                  <li>  <a  href="http://www.fishingbuddy.com/fishingreports/"> N.D. Game &amp; Fish</a></li>
                </div>
                <div  class="col-xs-4">
                  Lets talk Hunting
                  <li > <a href="http://www.outdoornews.com/Minnesota/"> MN Hunting Reports</a> </li>
                  <li> <a href="http://www.nodakoutdoors.com/"> ND Hunting Reports</a></li>
                </div>
                <div class="col-xs-4">
                  Lets talk Shooting
                  <li ><a href="http://media.wix.com/ugd/d770aa_6f5e1f5bf84b43838ed9360e9e827444.pdf"> Print a Shooting Target</a></li>
                  <li _><a  href="https://www.youtube.com/watch?v=mUNxR9RvZ5s"> Sighting in a Rifle Scope</a> </li>
                  <li ><a href="https://www.youtube.com/watch?v=HnoQeNhXRGE"> Adjusting Open Sights</a></li>
                </div>



              <div id="TopImages" style="float:left; padding-top:2em">
                <div class="container">
                  <div class="row">
                    <div class="row">

                      <a href="http://home.nra.org/">
                        <img src="https://static.wixstatic.com/media/d770aa_3bb37486fd35458295de106441a59706.png/v1/fill/w_106,h_105,al_c,usm_0.66_1.00_0.01/d770aa_3bb37486fd35458295de106441a59706.png"></a>

                      <a href="http://sassnet.com/">
                        <img src ="https://static.wixstatic.com/media/d770aa_084d0fcf75a44c9f8248365ef03abfb5.png"></a>

                      <a  href="http://www.pheasantsforever.org/">
                        <img  src="https://static.wixstatic.com/media/d770aa_1737053813404170ad303ad628af6944.png/v1/fill/w_90,h_114,al_c,usm_0.66_1.00_0.01/d770aa_1737053813404170ad303ad628af6944.png"></a>

                      <a href="https://equip2conceal.com/company/courses/minnesota">
                        <img  src="https://static.wixstatic.com/media/d770aa_45982c5f57ab4dd398a14d8274c0877c.png/v1/fill/w_142,h_106,al_c,usm_0.66_1.00_0.01/d770aa_45982c5f57ab4dd398a14d8274c0877c.png"></a>

                      <a  href="http://tricountydefense.vpweb.com/">
                        <img  src="http://tricountydefense.vpweb.com/Tri%20County%20Defense%20Logo.jpg" style="height:13%; width:13%;"></a>
                      <a href="http://friendsofnra.org/">
                        <img src="https://static.wixstatic.com/media/d770aa_d48109ca10e54ddfb9bc05bdd590e2d5.jpg/v1/fill/w_130,h_59,al_c,q_80,usm_0.66_1.00_0.01/d770aa_d48109ca10e54ddfb9bc05bdd590e2d5.webp"></a>
                    </div>
                    <div _ class="row">
                      <a  href="https://www.usconcealedcarry.com/">
                        <img  src="https://static.wixstatic.com/media/d770aa_93cfe414dfb646189039b0c47215d14d.png/v1/fill/w_106,h_105,al_c,usm_0.66_1.00_0.01/d770aa_93cfe414dfb646189039b0c47215d14d.png"></a>
                      <a  href="https://www.nraila.org/">
                        <img  src="https://static.wixstatic.com/media/d770aa_dd48723320454036985d1db157d501b8.png/v1/fill/w_156,h_42,al_c,usm_0.66_1.00_0.01/d770aa_dd48723320454036985d1db157d501b8.png"></a>
                      <a href="http://4-hshootingsports.org/">
                        <img _ src="https://static.wixstatic.com/media/d770aa_6dcd2489a3454358a7e5627fdd4fd254.gif" style="height:18%; width:18%;"></a>
                      <a  href="http://www.nwtf.org/">
                        <img src="http://www.americaremembers.com/wp-content/uploads/2013/11/NWTF-logo.jpg" style="height:15%; width:15%;"></a>
                      <a href="http://www.idpa.com/">
                        <img  src="https://static.wixstatic.com/media/d770aa_fc76b7175528423e9364947967771297.gif" style="height:20%; width:20%;"></a>
                    </div>
                </div>

              <p>﻿© 2017 by Kris Lommen</p>
            </div>

              </div>


              </div>
            </div>

          </ul>


        </form>
        </body>
      </div>



  </div>

  </div>
