


<div style="padding-top: 1rem"> </div>


<body>


<form style="width: 60em; margin: 16px auto;text-align: center;      display:block; " >
  <div id="Submission" align="center">
    <ul class="form-style-1" style="padding: 0;font-weight: bold;
    display:inline;
    font-size: 44px;
    text-shadow: 1px 1px 1px #fff;">

      Outdoor Traditions
      Since 1927

    </ul>
  </div>
</form>

  <div style="margin-top:4em"></div>




<div id="Warnings" >
  <form style="width: 60em; height: 3.2em;margin:8px auto;text-align: center;display:block;border-radius: 3em;background-color: limegreen;color: whitesmoke;">
    <ul class="form-style-1" style="display:inline;">
      <p>ANNUAL COON-N-CROCKETT SHOOT 8/5/17</p>

    </ul>
  </form>


  <form style="width: 60em; height: 3.2em;margin:8px auto;text-align: center;display:block;border-radius: 3em;background-color: red;color:  whitesmoke;">
    <ul class="form-style-1" style="display:inline;">
<p>
  EFFECTIVE IMMEDIATELY (6/15/16) - South Range is closed for trap range construction.
</p>
    </ul>
  </form>
  <form style="width: 60em; height: 3.2em;margin:8px auto;text-align: center;display:block;border-radius: 3em;background-color: red;color: whitesmoke;">
    <ul class="form-style-1" style="display:inline;">
<p>

  ROAD CONSTRUCTION BEGINS MAY 15,
  WATCH FOR DETOUR WHEN HEADING NORTH ON HIGHWAY 220</p>
        </ul>
    </form>


</div>




<div style="margin-top:5em"></div>



<div id = "TopImages" align="center" style="display:block;margin:auto; text-align:center">

          <img src="http://i.imgur.com/5FNvYnK.gif" style=";margin:0 3em;height: 202px; width: 368px; border-style: double;
  border: 1px solid #88D5E9;"/>






              <img src="http://i.imgur.com/vKKDbdU.gif"style="margin:0 3em;height: 202px; width: 368px;
  border: 1px solid #88D5E9; border-style: double "/>



  </div>


<div style="margin-top:5em "></div>
<div align="center" style="margin: 0;align-items:center; display:block">
<a href="https://membership.nrahq.org/forms/signup.asp?campaignid=XC013735">

  <img src="http://i.imgur.com/0ovvTOd.jpg"> </a>
</div>

  <div style="margin-top:5em "></div>
<div align="center" style="margin: 0;align-items:center; display:block">
<img src="http://i.imgur.com/L5FRylG.png">
</div>

</body>




