
<body>

<div style="padding-top: 1rem"> </div>

<form style="width: 60em; margin: 16px auto;text-align: center;      display:block; " >
  <div id="Submission" align="center">
    <ul class="form-style-1" style="padding: 0;font-weight: bold;
    display:inline;
    font-size: 44px;
    text-shadow: 1px 1px 1px #fff;">

      Outdoor Traditions
      Since 1927

    </ul>
  </div>
</form>

<div id="Warnings" >
  <form style="width: 60em; height: 3.2em;margin:8px auto;text-align: center;display:block;border-radius: 3em;background-color: limegreen;color: whitesmoke;">
    <ul class="form-style-1" style="display:inline;">
      <p>ANNUAL COON-N-CROCKETT SHOOT 8/5/17</p>

    </ul>
  </form>


  <form style="width: 60em; height: 3.2em;margin:8px auto;text-align: center;display:block;border-radius: 3em;background-color: red;color:  whitesmoke;">
    <ul class="form-style-1" style="display:inline;">
<p>
  EFFECTIVE IMMEDIATELY (6/15/16) - South Range is closed for trap range construction.
</p>
    </ul>
  </form>
  <form style="width: 60em; height: 3.2em;margin:8px auto;text-align: center;display:block;border-radius: 3em;background-color: red;color: whitesmoke;">
    <ul class="form-style-1" style="display:inline;">
<p>

  ROAD CONSTRUCTION BEGINS MAY 15,
  WATCH FOR DETOUR WHEN HEADING NORTH ON HIGHWAY 220</p>
        </ul>
    </form>


</div>








<div id="TopImages" style="display:block;" >
        <form style="margin:12px 12px; width: 32em;">
          <ul class="form-style-1">
            <img src="https://static.wixstatic.com/media/d770aa_65bc4b47a98d475b96cd92356ec0e8e4.gif" style="height: 202px; width: 368px"/>

          </ul>
        </form>



          <form style="margin:0px 12px; width: 32em;">
            <ul class="form-style-1">
              <img src="https://static.wixstatic.com/media/d770aa_4f393c22e124465ca703c3ceac7da33b.gif"style="height: 202px; width: 368px"/>

            </ul>
          </form>
</div>








<div id="Statement">
  <form style="width: 70em; height: 8em;margin:26px auto;text-align: center;display:block;">
    <ul class="form-style-1" style="display:inline;">
      <p >
        "The purpose of the East Grand Forks Rod & Gun Club shall be to promote an interest in sound conservation practices, to support improvement in game and fish habitat.  It is also our objective to promote sage handling, improved marksmanship, proper care and use of firearms.  Further, it is also our objective to encourage the development of the characteristics of honesty, good fellowship, responsible self-discipline, team play and self-reliance.  These ideals are the essentials of good sportsmanship and the foundation of patriotism."
      </p>
    </ul>

  </form>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>





</body>



