<div style="padding-top: 1rem"> </div>
<body>




<form style="width: 75%; margin: 16px auto;text-align: center;      display:block; " >
  <div id="Submission" align="center">
    <ul class="form-style-1" style="padding: 0;font-weight: bold;
    display:inline;
    font-size: 44px;
    text-shadow: 1px 1px 1px #fff;">

      Membership Info

    </ul>
  </div>
</form>

<div style="margin-top:4em"></div>

<div style="text-align: center;display:block">

  <div class ="column-center" >
    <form style="width:26em;height:26em; margin: 0em 3em 0em 0em; display:block;float:left">
      <ul class="form-style-1" style=" display:inline-block;margin-bottom: 3em;" >
        <li><h2>Shooting Facilities</h2></li>

<li>25, 50, 100, 200, and 300 yard shooting ranges with soil back stops</li>

        <li>Covered bench rests 50, 100, 200 & 300</li>

        <li>International Trap shooting on designated nights</li>

        <li>New club house built in 1996 with kitchen facilities</li>

        <li>Shooting events throughout the shooting season</li>

        <li>Located in a woodland setting just 12 miles from town</li>

        <li>Open all year for target practice</li>


      </ul>


    </form>






    <form style="width:26em;height:26em; display:block;float:right; margin: 0em 0em 0em 3em;">
      <ul class="form-style-1" style="display:inline-block; float:right;margin-bottom: 3em;" >



        <li> <h2>Membership Prices</h2></li>

        <li>  Annual Individual Membership Dues - $85</li>

        <li>   Family Membership - $100</li>

        <li>   A Family Membership includes yourself, your spouse
          and any dependent children (under 18), no guests.</li>

        <li>   New Member Initiation Fee - $25</li>

        <li>  Guest Membership $25/day</li>

        <li>  Memberships are through December 31st.</li>

        <li>   An EGF Rod & Gun Club membership entitles you to use of   the shooting ranges and manual trap range.</li>

      </ul>




    </form>




</div>




  <div class ="column-center" >
<img src="https://static.wixstatic.com/media/d770aa_65bc4b47a98d475b96cd92356ec0e8e4.gif" style="margin: 3em 3em 0em 0em; height: auto; width: 26em"/>

<img src="https://static.wixstatic.com/media/d770aa_4f393c22e124465ca703c3ceac7da33b.gif" style="margin: 3em 0em 0em 3em;height: auto; width: 26em"/>

  </div>


</div>




<div style="padding-bottom: 6em"></div>

</body>

