<body>

<div style="padding-top: 3rem"> </div>


<div id = "bodycontent">
  <h2>Membership Info</h2>

  <div>


    <p>  Annual Individual Membership Dues - $85

    Family Membership - $100

    A Family Membership includes yourself, your spouse
    and any dependent children (under 18), no guests.

    New Member Initiation Fee - $25

    Guest Membership $25/day

    Memberships are through December 31st.

    An EGF Rod & Gun Club membership entitles you to use of   the shooting ranges and manual trap range.</p>


  </div>

  <h2>Shooting Facilities</h2>

  <div>


    <p>

      25, 50, 100, 200, and 300 yard shooting ranges with soil back stops

      Covered bench rests 50, 100, 200 & 300

      International Trap shooting on designated nights

      New club house built in 1996 with kitchen facilities

      Shooting events throughout the shooting season

      Located in a woodland setting just 12 miles from town

      Open all year for target practice

    </p>


  </div>



</div>



<div id="TopImages">



  <img src="https://static.wixstatic.com/media/d770aa_65bc4b47a98d475b96cd92356ec0e8e4.gif"/>

  <img src="https://static.wixstatic.com/media/d770aa_4f393c22e124465ca703c3ceac7da33b.gif"/>


</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

